.blog-detail {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.blog-detail-image {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

.blog-detail-title {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.blog-detail-author, .blog-detail-date {
    font-size: 0.8em;
    color: gray;
    margin-bottom: 20px;
}

